<a href="https://colab.research.google.com/github/EmmaMills1002/DS-3001-Project/blob/main/CovidCleanedCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/COVID-19 Survey Student Responses.csv',low_memory=False)
df.columns

Index(['ID', 'Region of residence', 'Age of Subject',
       'Time spent on Online Class', 'Rating of Online Class experience',
       'Medium for online class', 'Time spent on self study',
       'Time spent on fitness', 'Time spent on sleep',
       'Time spent on social media', 'Prefered social media platform',
       'Time spent on TV', 'Number of meals per day', 'Change in your weight',
       'Health issue during lockdown', 'Stress busters', 'Time utilized',
       'Do you find yourself more connected with your family, close friends , relatives  ?',
       'What you miss the most'],
      dtype='object')

In [ ]:
df.isnull().sum()

ID                                                                                     0
Region of residence                                                                    0
Age of Subject                                                                         0
Time spent on Online Class                                                             0
Rating of Online Class experience                                                     24
Medium for online class                                                               51
Time spent on self study                                                               0
Time spent on fitness                                                                  0
Time spent on sleep                                                                    0
Time spent on social media                                                             0
Prefered social media platform                                                        17
Time spent on TV                                                                       0
Number of meals per day                                                                0
Change in your weight                                                                  0
Health issue during lockdown                                                           0
Stress busters                                                                         0
Time utilized                                                                          0
Do you find yourself more connected with your family, close friends , relatives  ?     0
What you miss the most                                                                 0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.columns = df.columns.str.strip().str.lower()
df.columns

Index(['id', 'region of residence', 'age of subject',
       'time spent on online class', 'rating of online class experience',
       'medium for online class', 'time spent on self study',
       'time spent on fitness', 'time spent on sleep',
       'time spent on social media', 'prefered social media platform',
       'time spent on tv', 'number of meals per day', 'change in your weight',
       'health issue during lockdown', 'stress busters', 'time utilized',
       'do you find yourself more connected with your family, close friends , relatives  ?',
       'what you miss the most'],
      dtype='object')

In [ ]:
numeric_status = df.dtypes.apply(pd.api.types.is_numeric_dtype)
print(numeric_status)

id                                                                                    False
region of residence                                                                   False
age of subject                                                                         True
time spent on online class                                                             True
rating of online class experience                                                     False
medium for online class                                                               False
time spent on self study                                                               True
time spent on fitness                                                                  True
time spent on sleep                                                                    True
time spent on social media                                                             True
prefered social media platform                                                        False
time spent on tv                                                                      False
number of meals per day                                                                True
change in your weight                                                                 False
health issue during lockdown                                                          False
stress busters                                                                        False
time utilized                                                                         False
do you find yourself more connected with your family, close friends , relatives  ?    False
what you miss the most                                                                False
dtype: bool

In [ ]:
df.duplicated().sum()

0

In [ ]:
stress = df['Stress busters']
stress = stress.replace(['Scrolling through social media', 'Social Media', 'Online surfing', 'Both listining music and scrolling down social media'], 'Social Media')
stress = stress.replace(['Listening to music', 'Music', 'listening to music,reading books and dancing.', ' listening music, motion design, graphic design, sleeping.', 'Listening to music and reading books both . '], 'Music')
stress = stress.replace(['Reading', 'Reading books', 'Writing my own Comics & novels', 'Reading books, music, exercise', 'All reading books watching web series listening to music and talking to friends','Poetry, writing books and novels , listening to music too' ], 'Reading')
stress = stress.replace(['Watching web series', 'live stream watching', 'Watching orgasm releasing videos', 'Web Series', 'Anime Manga', 'watching movies,reading books,games,listening to music,sleep,dancing', 'Netflix, Friends and Books', 'Watching ted talks and music and books', 'Youtube', 'Watching YouTube '], 'Watching Videos')
stress = stress.replace(['Coding and studying for exams', 'Online gaming', 'Indoor Games', 'Online gaming , surfing and listening to music '], 'Online Gaming')
stress = stress.replace(['Cricket', 'Workout ', 'Dancing', 'Playing ', 'Meditation', 'Exercise', 'I run', 'Running', 'Exercising', 'Football', 'Cardio', 'working out and some physical activity', 'Gym', 'workout', 'Workout and listening music', 'Sports'], 'Exercise')
stress = stress.replace(['Talking with friends ', 'Talking', 'Talking to your relatives', 'Talk with childhood friends.', 'Talking to friends', 'With a friend', 'Calling friends', 'Taking with parents'], 'Talking to Friends and Family')
stress = stress.replace(['sketching,reading books,meditation,songs', 'drawing ', 'Sketching and writing', 'Writing','gardening cartoon', 'Painting,. Sewing', 'Drawing', 'Painting', 'Sketching', 'Drawing, painting', 'Drawing and painting and sketching', 'Painting '], 'Art')
stress = stress.replace(['Work', 'By engaging in my work.', 'Business'], 'Work')
stress = stress.replace(['Sleep', 'Sleeping', 'Sleeping, Online games'], 'Sleep')
stress = stress.replace(['I have no problem of stress ', 'Dont get distreessed', 'no stress'], 'No Stress')
stress = stress.replace(['Many of these', 'Many among these ', 'Whatever want'], 'Many')
stress = stress.replace(['I cant de-stress myslef', 'No able to reduce the stress '], 'None')
stress = stress.replace(['singing'], 'Singing')
stress = stress.replace(['Do some home related stuff', 'I play Rubiks cube', 'pubg', 'Forming '], 'Other')

In [ ]:
df['Stress busters'] = stress
del stress
df['Stress busters'].value_counts()

Stress busters
Music                            279
Online Gaming                    178
Social Media                     152
Watching Videos                  132
Sleep                            106
Reading                          100
Exercise                          99
Talking to Friends and Family     62
Cooking                           41
Art                               15
Other                              4
Many                               3
No Stress                          3
Work                               3
None                               2
Crying                             1
Driving                            1
Singing                            1
Name: count, dtype: int64

In [ ]:
df['What you miss the most'].unique()
miss = df['What you miss the most']
miss = miss.replace(['School/college', 'School and friends.', 'School and my school friends', 'school, relatives and friends'], 'School')
miss = miss.replace(['Friends', 'Family', 'Friends and roaming around freely','Friends, relatives & travelling', 'Friends , relatives', 'Being social ', 'Friends and School', 'The idea of being around fun loving people but this time has certainly made us all to reconnect (and fill the gap if any) with our families and relatives so it is fun but certainly we do miss hanging out with friends', 'Friends,Romaing and traveling', 'Only friends', 'Family '], 'Friends and Family')
miss = miss.replace(['Normal life', 'My normal routine'], 'Normalcy')
miss = miss.replace(['Travelling', 'Travelling & Friends'], 'Traveling')
miss = miss.replace(['Roaming around freely', 'Gym', 'Badminton in court', 'Metro', 'Taking kids to park', 'Eating outside and friends.', 'Going to the movies'], 'Going Places')
miss = miss.replace(['Colleagues', 'Job'], 'Work')
miss = miss.replace(['Eating outside'], 'Eating Outside')
miss = miss.replace(['Nothing this is my usual life', 'To stay alone. ','I have missed nothing ', 'nothing', 'NOTHING', 'Nothing', 'Nothing ', 'Nah, this is my usual lifestyle anyway, just being lazy....'], 'Nothing')
miss = miss.replace(['All of them', 'All of the above ','everything', 'ALL', 'all', 'All the above', 'All above', 'All of the above', 'All ', 'All', 'all of the above'], 'Everything')
miss = miss.replace(['.', 'Previous mistakes'], 'Other')

In [ ]:
df['What you miss the most'] = miss
del miss
df['What you miss the most'].value_counts()

What you miss the most
School                382
Friends and Family    233
Traveling             184
Going Places          158
Eating Outside        104
Work                   68
Everything             26
Nothing                20
Normalcy                2
Other                   2
Internet                1
Football                1
Playing                 1
Name: count, dtype: int64